<!DOCTYPE html>
<html>
<head>	
	<title> BEAT THE MODEL </title>
	<link rel ="stylesheet" type="text/css" href="../static/style_bet.css">
   	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Choose the Model</h1>
    <form action="/results" method="post">
        <label for="number">Stock Name:</label>
        <input type="number" name="number" required>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>

